.nav-class{
  background-color: #3e3e3e;
}

.app-brand{
  color: #0B5ED7;
  font-weight: bold;
}

#basic-nav-dropdown{
  color: white;
}

.circular-avatar{
    height: 2.4em;
    width: 2.4em;
    background-color:#0B5ED7;
    border: 1 solid black;
    border-radius: 1.2em;
    text-align: center;
    padding-top: .4em;
    display: inline-block;
}

.divider {
    height: 1px;
    width:80%;
    display: block;
    margin: .5em;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-left: 1.5em;    
  }

  .class-1{
    background-color: #3e3e3e;
    color: white;
    border-radius: .5em;
    height: 55vh;
    overflow-y: auto;
  }

  .class-2{
    background-color: transparent;
  }

  .createPost-space{
    background-color: #3e3e3e;
    color: white;
    border-radius: .5em;
  }

  .postSpace{
    background-color: #3e3e3e;
    color: white;
  }

  .like-class, .comment-class, .delete-class{
    cursor: pointer;
  }

  .commentExpand{
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .class-3{
    background-color:#3e3e3e;
    color: white;
    border-radius: .5em;
    height: 55vh;
    overflow-y: auto;
  }

  .class-3-Card1, .class-3-Card2{
    background-color: #3e3e3e;
    border: none;
    color: white;
  }